@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* ------------- MIXINS ------------- */
/* -------------- BASE ------------ */
/* ------------- COLOURS ------------ */
/* -------------- MODULES ------------ */
.movie-list.container {
  margin: 0 auto;
  max-width: 800px; }

.movie-list .card {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  padding: 40px;
  margin: 40px; }

.movie-list .input-group {
  display: flex;
  justify-content: space-between; }
  .movie-list .input-group .control-group {
    width: 45%; }

.movie-list .control-group {
  margin-bottom: 30px; }
  .movie-list .control-group label {
    font-weight: bold;
    display: block;
    color: #494949;
    margin-bottom: 10px; }
  .movie-list .control-group input {
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    font-size: 16px;
    color: #817e7e; }
    .movie-list .control-group input:focus {
      outline: none;
      border-color: #ff0062; }

.movie-list .btn {
  background: #ff0062;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px; }

.movie-list .list {
  list-style: none;
  display: none; }
  .movie-list .list.visible {
    display: block; }
  .movie-list .list__item {
    color: #ff0062;
    margin-bottom: 10px; }

.book-list header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: #00329e; }
  .book-list header h1, .book-list header h2 {
    margin: 0;
    color: white;
    font-size: 1.5rem; }
  .book-list header button {
    font: inherit;
    padding: 0.5rem 1rem;
    background: #f67722;
    border: 1px solid #f67722;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer; }
    .book-list header button:hover, .book-list header button:active {
      background: #f3cc4b;
      border-color: #f3cc4b;
      color: #995200; }

.book-list label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646; }

.book-list input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838; }

.book-list input:focus {
  outline: none;
  background: #fff1c4; }

.book-list .btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem; }

.book-list .btn:hover,
.book-list .btn:active {
  background: #f67722;
  border-color: #f67722; }

.book-list .btn--passive {
  color: #00329e;
  background: transparent;
  border: none;
  box-shadow: none; }

.book-list .btn--passive:hover,
.book-list .btn--passive:active {
  background: #aec6f8; }

.book-list .btn--danger {
  background: #d30808;
  color: white;
  border-color: #d30808; }

.book-list .btn--danger:hover,
.book-list .btn--danger:active {
  background: #ff3217;
  border-color: #ff3217; }

.book-list .modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none; }

.book-list .modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards; }

.book-list .modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 10px 10px 0 0; }

.book-list .modal .modal__content {
  padding: 1rem; }

.book-list .modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end; }

.book-list .book-element {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex; }

.book-list .book-element h2,
.book-list .book-element p {
  font-size: 1.25rem;
  margin: 0; }

.book-list .book-element h2 {
  color: #383838;
  margin-bottom: 1rem; }

.book-list .book-element p {
  color: white;
  display: inline;
  background: #f67722;
  padding: 0.25rem 1rem;
  border-radius: 15px; }

.book-list .book-element__image {
  flex: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden; }

.book-list .book-element__image img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.book-list .book-element__info {
  flex: 2;
  padding: 1rem; }

.book-list .card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); }

.book-list #entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem; }

.book-list #entry-text p {
  font-size: 1.5rem;
  text-align: center; }

.book-list #list {
  list-style: none;
  width: 40rem;
  max-width: 90%;
  margin: 1rem auto;
  padding: 0; }

.book-list #backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none; }

.book-list #backdrop.visible {
  display: block;
  pointer-events: all; }

.book-list #add-modal .modal__content {
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .book-list .modal {
    width: 40rem;
    left: calc(50% - 20rem); } }

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem); }
  to {
    transform: translateY(0); } }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

h1, h2, h2 {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #817e7e; }

.container {
  min-height: 100vh;
  margin: 0 auto; }

main {
  padding-top: 40px; }

h1, h2 {
  font-size: 30px;
  text-align: center;
  margin: 0 0 20px 0;
  color: #494949; }

h2 {
  font-size: 18px; }

.section-about {
  max-width: 900px;
  margin: 40px auto; }
  .section-about p {
    font-size: 18px;
    text-align: center;
    line-height: 1.8; }

.projects {
  background: #f7f7f7;
  padding: 40px; }
  .projects.react {
    background: #FFFFFF; }
  .projects__section {
    margin: 40px auto;
    max-width: 1400px; }
  .projects__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .projects__list--item {
      padding: 10px;
      width: 25%; }
    .projects__list--link {
      display: block;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      height: 150px;
      display: flex;
      text-decoration: none;
      color: #817e7e; }
      .projects__list--link .img-section {
        width: 30%; }
      .projects__list--link .img-container {
        width: 100%;
        position: relative;
        padding-top: 75%; }
        .projects__list--link .img-container img {
          width: 100%;
          height: 150px;
          position: absolute;
          top: 0;
          object-fit: cover; }
      .projects__list--link .content {
        padding: 10px;
        width: 70%; }
        .projects__list--link .content h2 {
          text-align: left; }
        .projects__list--link .content p {
          font-size: 14px; }
