@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* ------------- MIXINS ------------- */


/* -------------- BASE ------------ */
@import 'variables.scss';
@import 'typography.scss';

/* -------------- MODULES ------------ */

@import './modules/MovieList.scss';
@import './modules/BookList.scss';
@import './modules/About.scss';
@import './modules/Projects.scss';

html {
	box-sizing: border-box;
}


*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1,h2 {
	margin: 0;
	padding: 0;
}

body {
	//background: #eb2f64;
	font-family: 'Open Sans', sans-serif;	
	color: $grey;
}

.container {
	min-height:100vh;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	
}

h2 {
	@extend h1;
	font-size: 18px;
}

